body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  top: 93%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  text-align: center;
}

.pictureOne, .pictureTwo, .pictureThree, .pictureFour {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  min-height: 100%;
}

.mainHeader {
  left: 50%;
  top: 30%;
  text-align: center;
  transform: translate(-50%, 0%);
  position: absolute;
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  width: 100%;
  font-weight: bold;
}

.navigationBar {
  left: 50%;
  transform: translate(-50%, 0%);
  top: 4%;
  position: fixed;
  text-align: center;
  width: 90%;
}

.navigationBar button, .footer button {
  border: none;
  font-size: 24px;
  font-style: 'Source Sans Pro', sans-serif;
  background: none;
  color: white;
}

.pictureOne {
  background-image: url('../pictures/forest-hd-wallpaper-landscape-129105.jpg');
}

.pictureTwo {
  min-height: 100%;
  background-image: url('../pictures/liane-metzler-3301-unsplash.png');
}

.pictureThree {
  min-height: 100%;
  background-image: url('../pictures/evening-foggy-forest-376368.jpg');
}

.pictureFour {
  min-height: 100%;
  background-image: url('../pictures/marek-szturc-496896-unsplash.png')
}

.aboutMe, .resume, .portfolio, .contact, .sqlImpl, .fbcCalc, .euchre, .website, .forum, .resize {
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, .70);
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.aboutMe, .resume, .contact, .sqlImpl, .fbcCalc, .euchre, .website, .forum, .resize {
  padding-bottom: 1%;
}

.aboutMe {
  top: 100%;
}

.resume {
  top: 200%;
}

.portfolio {
  top: 300%;
}

.contact {
  top: 400%;
}

.sqlImpl {
  top: 500%;
}

.fbcCalc {
  top: 600%;
}

.euchre {
  top: 700%;
}

.website {
  top: 800%;
}

.forum {
  top: 900%;
}

.image {
  top: 1000%;
}

.bio {
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21.5px;
  width: 55%;
  text-align: left;
}

.sectionHeader, .projectHeader {
  font-size: 40px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.projectHeader {
  font-size: 30px;
}

.sectionHeader {
  padding-top: 10px;
}

button:hover {
  cursor: pointer;
  opacity: .7;
}

.contactInfo {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 360px;
}

.contactInfo button {
  width: 100%;
}

input, textarea {
  width: 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 20px;
  border-style: none;
  border-width: 1px;
}

textarea {
  height: 60px;
}

.socialIcons {
  position: relative;
  width: 250px;
  left: 50%;
  transform: translate(-50%);
  height: 100px;
}

.linkedLogo:hover, .gitLogo:hover, .email:hover, .phone:hover {
  opacity: .5;
}

.linkedLogo, .gitLogo, .email, .phone {
  margin-top: 50px;
  height: 100px;
  position: absolute;
  top: 0%;
}

.linkedLogo {
  left: 33%;
  transform: translate(-50%, 0%);
}

.email {
  left: 67%;
  transform: translate(-50%, 0%);
}

.phone {
  right: 0;
}

.far, .fab, .fas {
  transform: scale(3);
}

.resumeInfo {
  position: relative;
  width: 50%;
  left: 50%;
  padding-bottom: 1%;
  transform: translate(-50%, 0%);
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.subPoints {
  margin-top: 0;
  margin-bottom: 0;
}

.row1, .row2 {
  width: 100%;
  height: 38%;
  position: absolute;
}

.row1 {
  top: 12%;
}

.row2 {
  top: 56%;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
  width: 24%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-blend-mode: soft-light;
  cursor: pointer;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover, .project6:hover {
  opacity: .7;
}

.project1 {
  background-image: url(../pictures/zbysiu-rodak-55618-unsplash.png);
}

.project2 {
  background-image: url(../pictures/sasha-instagram-com-sanfrancisco-262798-unsplash.png);
}

.project3 {
  background-image: url(../pictures/sergi-viladesau-391230-unsplash.png);
}

.project4 {
  background-image: url(../pictures/markus-spiske-153926-unsplash.png);
}

.project5 {
  background-image: url(../pictures/boris-stefanik-131519-unsplash.png);
}

.project6 {
  background-image: url(../pictures/cameron-kirby-92969-unsplash.png);
}

/* .project1:hover {
  background-color: grey;
  background-blend-mode: soft-light;
}

.project2:hover {
  background-color: grey;
  background-blend-mode: soft-light;
}

.project3:hover {
  background-color: grey;
  background-blend-mode: soft-light;
}

.project4:hover {
  background-color: grey;
  background-blend-mode: soft-light;
}

.project5:hover {
  background-color: grey;
  background-blend-mode: soft-light;
}

.project6:hover {
  background-color: grey;
  background-blend-mode: soft-light;
} */

.project1, .project4 {
  left: 8%;
}

.project2, .project5 {
  left: 38%;
}

.project3, .project6 {
  left: 68%;
}

/* Start of new section */

.slides {
  position: relative;
}

.projects {
  display: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
}

.projOne {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 20%;
}

.next {
  right: 20%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  opacity: .3;
}

.portfolioDots {
  text-align: center;
  padding-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* End of new section */

a:link {
  color: black;
}

a:visited {
  color: black;
}

.projTitle {
  font-size: 27px;
}

.language {
  font-size: 20px;
  font-style: italic;
}

.projTitle, .language {
  top: 30%;
  position: relative;
  text-align: center;
  margin: 2%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.resumeTitles {
  font-size: 22px;
}

.projectInfo {
  font-family: 'Source Sans Pro', sans-serif;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 40%;
  position: relative;
  font-size: 22px;
}

.projectSpecs {
  margin: 8px;
}

.note {
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

.mobileMenu {
  display: none;
}

@media (max-width: 1200px) {
  .navigationBar Button {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .bio {
    width: 90%;
  }
  .resumeInfo {
    width: 75%;
  }
  .projectInfo {
    width: 60%;
  }
  .prev {
    left: 10%;
  }
  .next {
    right: 10%;
  }
}

@media (max-width: 750px) {
  .bio {
    font-size: 19px;
  }
  .resumeInfo {
    font-size: 16.5px;
    width: 95%;
  }
  .projectInfo {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .mainHeader {
    font-size: 50px;
  }
  .projectInfo {
    width: 95%;
  }
  .prev {
    left: 3%;
  }
  .next {
    right: 3%;
  }
}

@media (hover:)
